/* selector:
1.Tag
2.Id
3.Class
4.Descendant
5.Child
6.Universal
7. pseudo
i. element: first-latter, first-line, before, after
ii. class: hover, active, link, visited
8. multiple element selector
attribute selector
*/

*
{
    margin: 0;
    padding: 0;
}
 a
{
    color: white;
}
 table,td,th
{
    border: 1px solid black;
    border-collapse: collapse;
}
#tbl
{
    height: 200px;
    width: 200px;
}
#main
{
    width: 1200px;
    margin: 0 auto;
}
#header
{
    height: 100px;
    width: 1200px;
   
    float: left;
    display: flex;
}
.logo{
   
    width: 150px;
    height: 100px;
    
}
.logo img{
height: 80px;
width: 80px;
margin: 10px;
}
.title{
   
    width:550px;
    height: 100px;

}
.title h1{
margin: 10px;
font-family: 'monotype corsiva';
color: blue;
font-size: 42px;
font-weight: bold;
}
.title h1::first-letter{

    color: gray;
  
}
/* .title h1::before{
    content: url(arrow dakhauna);
} */
.title h4{
    text-indent: 200px;
    font-size: 16px;
    color: red;
}

.social{
    height:100px;
    width: 500px;
    display: flex;
    justify-content: end;
}
.social h1{

}
.social img{
height: 30px;
width: 30px;
margin: 5px;
}
.social a{
    text-decoration: none;
}
#nav
{
   /* height: 50px;*/
    width: 1200px;
    background-color: lightpink;
    float: left;
}
/*descendant=tree structure (specific)*/
#nav li
{
    float: left;
    /*bullet hataune */
    list-style-type: none;
    /* space between text in nav*/
    margin: 17px 20px;
}
#nav ul li ul
{
    background-color: red;
    border-radius: 0 5px 0 5px;/* for making circular or elliptical*/
    display: none;

}
#nav ul li ul li
{
    float: none;
    margin: 5px;
    padding-bottom: 0 5px 5px 5px;
    border-bottom: 1px dotted silver;
}
#nav ul li a
{
    text-decoration: none;/*for underline*/
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: blueviolet;
    width: 100px;
    display: inline-block;
}
#nav ul li:hover ul
{
     /*hover=mouse line bitikkai dekhhinu */
    display: block;
}
#main-nav
{
    float: left;
}
#user-nav
{
    float: right;
}
#slider
{
     height: 1400px; 
    width: 1200px;
    background-color: grey;
    float: left;
}
#slider h1{
    width: 550px;
    margin: -1350px auto 0 auto; 
    top: 0px;
  
    color: red;
    background-color: rgb(103, 236, 236, 0.4);
    position:sticky; 
     text-align: center;
   /* opacity: o.5;
   z-index: -3; */

}
#slider img{
    width: 1190px;
    height: 490px;
    border: 5px solid rgb(69, 189, 237);
}
#display
{
   /* height: 300;*/
    width: 1200px;
    background-color: blueviolet;
    float: left;
}
h1
{
    text-align: center;
    width: 500px;
    margin: 5px auto;
}
.product
{
    width: 250px;
    height: 250px;
    background-color: violet;
    margin: 25px 0 25px 40px;
    float: left;
}
.product img{
    width: 250px;
    height: 200px;

}
.product h6{
    color: black;
}
#testimonial
{
    /* height: 300px; */
    width: 1200px;
    background-color:yellow ;
    float: left;
}
.review
{
    width: 555px;
    height: 250px;
    background-color: aqua;
    margin: 25px 0 25px 30px;
    float: left;
}
#review button img{
    width: 25px;
    height: 25px;
}

.review img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
#footer
{
    height: 200px;
    width: 1200px;
    background-color: blueviolet;
    float: left;
}
#footer img{
width: 50px;
height: 50px;
}
/*registration page */
#reg-form 
{
    float: left;
} 
#reg-form form .form-div
{
    margin: 5px 0;
}
#reg-form form .form-div label{
    width: 100px;
    display: inline-block;
    
}
#reg-form form .form-div input,
#reg-form form .form-div select, 
#reg-form form .form-div textarea{
    background-color: aquamarine;
    width: 200px;
    height: 30px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 0 10px;
    color: rgb(red, green, blue);
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
}

#reg-form form .form-div input[type="radio"],
#reg-form form .form-div input[type="checkbox"]
{
width: auto;
}
#reg-form form .form-divinput[type="password"]
{
    background-color: blanchedalmond;
}
